<div class="container">
    <p>Search by title:</p>
    <input type="text" ng-model="tekst">
    <section ng-repeat="vijest in c.vijesti | searchFilter:tekst">
            <div style="float:left;padding:10px 10px 10px 10px;">
                <img src="{{vijest.imgUrl}}" alt="slika" width="220" height="180"/>
            </div>
            <div class="opis" style="float:left;">
                <h2><a ui-sref="news-detail({newsTitle:vijest.naslov})">{{vijest.naslov}}</a></h2>
                <h3>{{vijest.podnaslov}}</h3>
                <h4>Objavljeno: {{vijest.datumObjavljivanja | date: 'dd-MM-yyyy HH:mm:ss'}}</h4>
                <br>
            </div>
            <div style="clear:both;"></div>
    </section>
</div>